button {
    outline: none;
    margin: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 2px;
}

button.current {
    box-shadow: 0 0 0 2px white,
        0 0 0 4px black;
}

body {
    justify-content: center;
    text-align: center;
    width: 15rem;
}

#commute-address {
    margin: 1rem 1rem;
}